:root {
  --ion-color-primary: #3880ff;
  --ion-color-secondary: #3dc2ff;
  --ion-color-tertiary: #5260ff;
  --ion-color-success: #2dd36f;
  --ion-color-warning: #ffc409;
  --ion-color-danger: #eb445a;
  --ion-color-dark: #222428;
  --ion-color-medium: #92949c;
  --ion-color-light: rgba(244, 245, 248, 0.96);

  --dashboard-bg: #f9fafa;
  --card-bg: #ffffff;
  --dashboard-accent: #f1f3f5;
}

.header-noshadow {
  --ion-box-shadow: none;
  --box-shadow: none;
  box-shadow: none;
}

.toolbar-border {
  --border-style: solid;
  --border-width: 0 0 1.2px 0; /* Only bottom */
  --border-color: var(--ion-color-light); /* Or any custom value */
}
